@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/* OVERALL CSS */

html {
	font-family: 'Nunito', sans-serif;
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 0px;
	margin-bottom: 0px;
  background-color: #000;
}
body {
	margin-left: 0px;
  margin-right: 1px;
  margin-top: 0px;
}
p, h1, h2, h3, h4 {
	color: #fafafa;
	font-size: 1.2rem;
}
a {
  text-decoration: underline;
  color: #fafafa;
}
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
footer {
  color: #fafafa !important;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: .9rem;
}

/* CUSTOM CSS */

.center {
  text-align: center;
}
.margin-centered{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.bigtitle{
	font-size: 50px;
}
.subtitle{
	font-size: 30px;
	}	
.righttext {
	text-align: right;
	margin-left: 50%;
	margin-right: 10px;
}
.width-minimum {
	display: inline-block;
}
.titlelink {
  text-decoration: none;
  color: #fafafa;
}
.wideline {
  background-color: #118d91;
  border-color: transparent;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2px;
}
.narrowline {
  background-color: #118d91;
  border-color: transparent;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  height: 2px;
}
.space {
  background-color: transparent;
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1rem;
}
.phonespace {
  background-color: transparent;
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1rem;
}
@media screen and (max-width: 600px) {
  .phonespace {
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 1%;
    height: 0rem;
  }
}
.footertext {
	color: #fafafa;
}
/* FANCY SCROLL */
.image-holder {
	width: 100%; 
	min-height: 110vh !important;
	padding-top: 100px;
	background-position: center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}


@media screen and (max-width: 600px) {

	.subtitle{
		text-align: center;
		position: absolute;
		top: 200px;
		left: 2%;
		right: 2%;
	}	
}
/* FADE IN TEXT */
.fade-in-text {
  display: inline-block;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
.fade-in-2 {
  display: inline-block;
  animation: fadeIn linear 4s;
  -webkit-animation: fadeIn linear 4s;
  -moz-animation: fadeIn linear 4s;
  -o-animation: fadeIn linear 4s;
  -ms-animation: fadeIn linear 4s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* COLUMNS */

.column {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
;
}
