/* Setup */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: 'Nunito', sans-serif;
  background-color: #000000;
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  animation: fadeIn linear 1.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
p {
  font-size: 20px;
  line-height: 2;
}
a {
  text-decoration: underline;
  color: #fff;
}

/* Placement */
.flex {
  display: flex;
}
.up {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.inner {
  padding:10px;
}
.center {
  justify-content:center;
  align-items:center;
}
.textcenter {
  text-align:center;
}
/* Custom Stuff */
.fancylink {
  transition: .3s;
  margin: 0 20px 0 20px;
}
.fancylink a {
  text-decoration: none;
}
.fancylink:hover {
  transform: translate(-5px, -5px);
}
.backgroundimage {
  width: 100%;
	min-height: 110vh;
	background-size: cover;
  background-attachment: fixed;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}
.footer div a {
  padding:2px;
}
.tile {
  margin: 15px;
  padding:5px;
  width: 40vw;
  background-color: rgba(0,0,0,.4);
  border-radius:25px;
  box-shadow: 0px 0px 100px 50px rgba(0,0,0,0.33);
}
.aboutparagraph {
  margin: 0 20px 0 20px;
}
.aboutparagraph a {
  color: #000;
}
/* Mobile */
@media screen and (max-width: 800px) {
  .backgroundimage div,h1,h2 {
    padding: 10px;
  }
  .backgroundimage {
    background-attachment: unset;
    min-height: 93vh;
    padding: 0px 0 30px 0;
  }
  .tile {
    width: 100%;
    margin: 0px;
  }
}
