/* Setup */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  font-family: 'Nunito', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
  animation: fadeIn linear 1.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
p {
  font-size: 20px;
  line-height: 2;
}
a {
  text-decoration: underline;
  color: #fff;
}
mark[white] {
  background-color: #fff;
  color: #000;
  text-shadow: none;
}
mark[black] {
  background-color: #000;
  color: #fff;
  text-shadow: none;
}

/* Placement */
.flex {
  display: flex;
}
.up {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.inner {
  padding:10px;
}
.center {
  justify-content:center;
  align-items:center;
}
.textcenter {
  text-align:center;
}
/* Custom Stuff */
.bigheader {
  font-size: 3.5rem;
}
.fancylink {
  transition: .3s;
  margin: 10px 20px;
  text-decoration: none;
}
.fancylink a {
  text-decoration: none;
}
.fancylink:hover {
  transform: translate(-5px, -5px);
}
.backgroundimage {
  width: 100%;
	min-height: 110vh;
	background-size: cover;
  background-attachment: fixed;
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}
.footer div a {
  padding:2px;
}
.tile {
  margin: 15px;
  padding:5px 10px;
  width: 40vw;
  background: white;
  color:black;
  box-shadow: -20px 20px 0px -10px rgba(255,0,0,1);
}
.tile p {
  text-align: left;
}
.aboutparagraph {
  margin: 0 20px 0 20px;
  text-align: left;
}
.aboutparagraph a {
  color: #000;
}
.aboutparagraph a:hover {
  text-decoration: none;
}
.shadow {
  text-shadow: 0px 0px 9px rgba(0,0,0,0.5);
}
.footer a {
  text-decoration:none;
  font-size:1rem;
}
.footer a:hover {
  text-decoration: underline;
}
/* Mobile */
@media screen and (max-width: 800px) {
  .backgroundimage div,h1,h2 {
    padding: 10px;
  }
  .backgroundimage {
    background-attachment: unset;
    min-height: 93vh;
    padding: 0px 0 30px 0;
  }
  .tile {
    width: 100%;
    margin: 15px 10px;
  }
  .bigheader {
    font-size: 2.5rem;
  }
}